@font-face {
  src: url(../fonts/Gorditas-Bold.ttf);
  font-family: gordita;
}

@font-face {
src: url(../fonts/Biotif-Bold.ttf);
font-family: biotif;
}

@font-face {
src: url(../fonts/Anurati-Regular.otf);
font-family: fut;
}

@font-face {
src: url(../fonts/PublicaSans-Bold.otf);
font-family: psans;
}

@font-face {
  src: url(../fonts/Poppins-Bold.ttf);
  font-family: popbold;
}

@font-face {
  src: url(../fonts/HomemadeApple-Regular.ttf);
  font-family: apple;
}

@font-face {
src: url(../fonts/SourceSansPro-ExtraLight.ttf);
font-family: style;
}



body {
    background: #181818;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
}


#changeBackgroundColor {
  margin: auto;
  text-align: center;
   background: 181818;
   text-align: center;
   font-family: biotif;
}

#grad {
  position: absolute;
 top: 50%;
 left: 50%;
 -ms-transform: translate(-25%, -50%);
 transform: translate(-25%, -50%);
  border-radius: 8px;
  border-color: #2E2E2E;
     font-size: 20px;
    font-family: biotif;
    color: var(--maincolor);
    border-style: solid;
    height: 100px;
    width: 150px;
}

#color {
    position: absolute;
 top: 50%;
 left: 35%;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
  height: 100px;
    width: 150px;
  border-radius: 8px;
  border-color: #2E2E2E;
     font-size: 20px;
    font-family: biotif;
    color: var(--maincolor);
    border-style: solid;
}

#colored-side-little {
  text-align: center;
  color: #FF4F5F;
  font-family: biotif;
}


#colored-side-gradient {
  text-align: center;
  color: #FF4F5F;
  font-family: biotif;
}

