@font-face {
    src: url(fonts/Gorditas-Bold.ttf);
    font-family: gordita;
}

@font-face {
    src: url(fonts/Poppins-Bold.ttf);
    font-family: popbold;
}

@font-face {
    src: url(../fonts/HomemadeApple-Regular.ttf);
    font-family: apple;
}

body {
    background: rgb(23, 55, 82);
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
}

#changeBackgroundColor {
   background: grey;
   text-align: center;
   font-family: popbold;
}


#solidButton {
	background: #78c0ff;
   font-family: popbold;
	color: #32495c;
	border-radius: 8px;
	border-color: #32495c;
	height: 50px;
	width: 100px;
}


#counter {
    background: transparent;
    height: 20px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: transparent;
    font-size: 20px;
    font-family: popbold;
    color: var(--maincolor);

}

#genGradient {
    background: transparent;
    height: 20px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: transparent;
    font-size: 20px;
    font-family: popbold;
    color: var(--maincolor);
    padding: 50px;

}