@font-face {
    src: url(../fonts/Gorditas-Bold.ttf);
    font-family: gordita;
}

@font-face {
  src: url(../fonts/Biotif-Bold.ttf);
  font-family: biotif;
}

@font-face {
  src: url(../fonts/Anurati-Regular.otf);
  font-family: fut;
}

@font-face {
  src: url(../fonts/PublicaSans-Bold.otf);
  font-family: psans;
}

@font-face {
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: popbold;
}

@font-face {
    src: url(../fonts/HomemadeApple-Regular.ttf);
    font-family: apple;
}

@font-face {
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
  font-family: style;
}
body {
text-align: center;
    background-color: #181818;
    margin: auto;
    width: 640px; 
    padding: 0;
    --maincolor: #181818;
    --border: #181818;
    --bordercolor: #FF4F5F;
    --basecolor: #181818;
    --greybase: #181818;
}
#counter {
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    font-family: psans;
    font-size: 50px;
    color: #181818;
    position: absolute;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    position: relative;
    border-radius: 20px;
    border-style: solid;

}

.place-content-center {
  place-content: center;
  align-content: center;
  justify-content: center;
}

#genGradient {
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    font-family: psans;
    font-size: 50px;
    color: #181818;
    position: absolute;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    position: relative;
    border-radius: 20px;
    border-style: solid;

}

.regularFont {
  color: #181818;
  font-family: biotif;
}

.borderDesign {
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-100px;
  margin-top:-60px;
    background: #2E2E2E;
    margin: auto;
    padding: 30px;
    line-height: 30px;
    border-radius: 30px;
    border-style: solid;
    border-color: var(--basecolor);
    transition: box-shadow 1000ms;
    transition-delay: 200ms;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}





.h2border {
    font-family: psans;
    text-align: center;
}



.borderDesign:hover {
    box-shadow: 0 0 18px 5px #FF4F5F;
    
}




@media only screen and (max-width: 600px) {
.borderDesign {
  position:absolute;
  top:100%;
  left:50%;
    width: 100px;
  margin-left:-100px;
  margin-top:-60px;
    background: #2E2E2E;
    margin: auto;
    padding: 30px;
    line-height: 30px;
    border-radius: 30px;
    border-style: solid;
    border-color: var(--basecolor);
    transition: box-shadow 1000ms;
    transition-delay: 200ms;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}

}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    border: 2px solid var(--basecolor);
    box-shadow: inset 1px 1px 5px black;
}

.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}


@import url("https://fonts.googleapis.com/css?family=Cabin+Condensed");
.text text {
    paint-order: stroke;
    stroke: white;
    stroke-width: 0.05px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-size: 5px;
    font-family: "Cabin Condensed", sans-serif;
}

#lm {
  font-family: psans;
  color: #181818;
  border-radius: 5px;
  border-color: transparent;
  text-align: center;
  font-size: 20px;
  background-color: transparent;
}

#dm {
  font-family: psans;
  color: #181818;
  border-radius: 5px;
  border-color: transparent;
  text-align: center;
  font-size: 20px;
  background-color: transparent;
}

#white-side {
  
  font-size: 7rem;
  color: white;
  font-family: biotif;
}

#colored-side {
  font-size: 7rem;
  color: #FF4F5F;
  font-family: biotif;
}

#my_job {
  
  font-size: 2rem;
  color: white;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2px;
}

#discord_logo {
  
  height: 50px;
  align-items: center;
  margin: 10px;
}

#github_logo {
 
  height: 50px;
  align-items: center;
  margin: 10px;
}

#twitter_logo {
  
  height: 50px;
  align-items: center;
  margin: 10px;
}

#email_logo {
  
  height: 50px;
  align-items: center;
  margin: 10px;
}

#info_logo {
  
  height: 50px;
  align-items: center;
  margin: 10px;
}

#biography {
  font-family: style;
  color: #8e8b8b;
  font-size: 30px;
  list-style-type: none;
  
  
}

.divCenter {
  position:absolute;
  top:50%;
  left:50%;
  width :100px;
  height:100px;
  margin-left:-100px;
  margin-top:-60px;
}

#colored-side-little {
  text-align: center;
  color: #FF4F5F;
  font-family: biotif;
}
