@font-face {
  src: url(/assets/fonts/Comfortaa.ttf);
  font-family: comfortaa;
}

@font-face {
  src: url(/assets/fonts/Biotif-Bold.ttf);
  font-family: biotif;
}

@font-face {
  src: url(/assets/fonts/Anurati-Regular.otf);
  font-family: anurati;
}

@font-face {

  src: url(/assets/fonts/Posterama_2001_W04_SemiBold.ttf);
  font-family: poster;
}
  
  @font-face {
    src: url(/assets/fonts/GRADIUS.ttf);
    font-family: gradius;
  }

@font-face {
  src: url(/assets/fonts/VictorMono-BoldItalic.ttf);
  font-family: vmbi;
}

@font-face {
    src: url(/assets/fonts/Poppins-Bold.ttf);
    font-family: popbold;
}
body {
  background-color: #1e1e1e;
  margin: auto;
  padding: 0;
}

#footer {
  font-family: comfortaa;
  color: #d63e3e;
  font-size: 20px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  opacity: 0;
}

.button-container {
  width: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}



#gallery {
  background-color: transparent;
  border-color: transparent;
  color: #666666;
  font-size: 18px;
  font-family: comfortaa;
  margin: 10px;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
}

 #gallery:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #d63e3e;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#gallery:hover::before{
  visibility: visible;
  transform: scaleX(1);
}


#colored-side {
  color: #d63e3e;
  font-family: biotif;
}

#hyper {
  color: #d63e3e;
  text-decoration: none;
}

/* Media queries */
@media (max-width: 768px) {

  .button-container {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

 #gallery {
    font-size: 14px;
    padding: 8px 16px;
    margin: 5px;
  }
}

@media (max-width: 480px) {
 #gallery {
    font-size: 12px;
    padding: 6px 12px;
    margin: 5px;
  }
}


    

#goback {
  background-color: transparent;
  border: none;
  color: #666666;
  font-size: 18px;
  font-family: comfortaa;
  margin: 10px;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
}

#goback::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #d63e3e;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#goback:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Media queries */
@media (max-width: 768px) {

  #goback {
    font-size: 14px;
    padding: 8px 16px;
    margin: 5px;
  }
}

@media (max-width: 480px) {
  #goback {
    font-size: 12px;
    padding: 6px 12px;
    margin: 5px;
  }
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  }
  
  .mySlides {
  display: none;
  text-align: center;
  }
  
  .mySlides img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  position: relative;
  border: 5px solid rgb(26, 26, 26);

  }

  @media screen and (max-width: 728) {
    .mySlides img {
      width: 200px;
      height: 200px;
    }
  }
  
  
  /* Previous and Next button styling */
  .prev, .next {
  font-family: biotif;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Position the Next button */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Caption text */
  .caption-container {
  text-align: center;
  font-family: biotif;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px 16px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
  background-color: #717171;
  }
  
  /* Center the slideshow */
  .slideshow-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  }
  
  /* Style the images */
  .mySlides img {
  width: 100%;
  display: block;
  }
  
  /* Fading animation */
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
  from {
  opacity: .4
  }
  
  to {
  opacity: 1
  }
  }
  
  @keyframes fade {
  from {
  opacity: .4
  }
  
  to {
  opacity: 1
  }
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
  }
  
  /* Center the container */
  .slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  /* Set the text color to white */
  .text {
  font-family: biotif;
  color: white;
  }
  
  /* Set the image size to 100% width */
  .slideshow-container img {
  width: 100%;
  }
  
  /* Add a transparent gray overlay to the image */
  .slide {
  position: relative;
  }

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Add a border to the active dot */
.dot.active {
  border-color: #fff;
}

/* Add custom styling to the arrow buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Position the previous button to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the next button to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Add a hover effect to the arrow buttons */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Add a transition effect to the slide */
.slide {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

/* Set the size of the image inside the slide */
.slide img {
  width: 500px;
  height: 500px;
}




